<h1>Directory</h1>

<div ng-controller="DirectorycontrollerCtrl">
    
    <input type="text" class="form-control" placeholder="Search" ng-model="searchFilter" style="width:30%;">
    <table class="table">
        <tbody style="color:#ecac00;">
            <tr>
                <td>Picture</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>More Info</td>
            </tr>
            
            <tr ng-repeat="datum in data | filter:searchFilter">
                <td ng-if="datum.PhotoFileName == null"><img class="picture-width" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQMUXoOAdK9TLsIDtMVXfED4n5o5c_HWU2-U1KESWTuXzci2BVeXQ3AVHM"></td>
                <td ng-if="datum.PhotoFileName !== null"><img class="picture-width" src={{datum.PhotoFileName}}></td>
                <td class="picture-width">{{datum.Name_First}}</td>
                <td class="picture-width">{{datum.Name_Last}}</td>
                
                <td class="picture-width">
                    <a style="text-decoration:none;" class="fa fa-info-circle fa-2x" data-toggle="modal" data-target=".{{datum.Name_First}}{{datum.ID}}"></a>

                    <div class="modal fade {{datum.Name_First}}{{datum.ID}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <h3>{{datum.Name_First}} {{datum.Name_Last}}</h3>
                            <h5>Office: {{datum.Name}} {{datum.room}}</h5>
                            Email: <a href="mailto:{{datum.email_MSU}}">{{datum.email_MSU}}</a><br>
                            Phone: <a href="tel:{{datum.public1}}-{{datum.public2}}-{{datum.public3}}">{{datum.public1}}-{{datum.public2}}-{{datum.public3}}</a>
                        </div>
                    </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>